html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 32px;
  height: 960px;
  width: 960px;
  border-style: solid;
  border-color: grey;
  
  border-width: 1px;
}

.grid{
    display: flex;
    border-style: solid;
    border-color: grey;
}